name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  OUTPUT_NAME: "__bin__/${{ github.repository }}"
  MYSQL_ROOT_PASSWORD: 123456
  MYSQL_DATABASE: digiexp_test
  DB_TYPE: mysql
  DB_HOST: mysql
  DB_PORT: 3306
  DB_USER: root
  DB_PASS: 123456
  DB_NAME: digiexp_test

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20.2'

      - name: Format code
        run: go fmt $(go list ./... | grep -v /vendor/)

      - name: Vet code
        run: go vet $(go list ./... | grep -v /vendor/)

      - name: Run tests
        run: go test -race $(go list ./... | grep -v /vendor/)

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20.2'

      - name: Build
        run: |
          mkdir -p ${{ env.OUTPUT_NAME }}
          go build -o ${{ env.OUTPUT_NAME }} ./...

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: built-artifact
          path: ${{ env.OUTPUT_NAME }}
